.item{
    border-bottom: 1px solid #222222;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task__name{
    font-size: 20px;
    margin: 0;
    cursor: pointer;
    font-family: sans-serif;
}
.icons__group{
    display: flex;
}
.icon__cont {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}
.icon__cont:first-child {
    margin-right: 10px;
}
.done{
    text-decoration: line-through;
}