.list__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loader{
    width: 150px;
}
.loader__gif{
    width: 100%;
    display: block;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}